<ul class="nav nav-tabs p-3 mb-2 bg-black text-white">
  <li class="nav-item">
    <a class="nav-link text-light"  href="#">Agenda</a>
  </li>
  <% if (user) { %>
  <li class="nav-item">
    <a class="nav-link text-light" href="/login/logout">Sair</a>
  </li>
  <% } else { %>

  <li class="nav-item">
    <a class="nav-link text-light" href="/login/index">Entrar</a>
  </li>
  <% } %>
  <li class="nav-item">
    <a class="nav-link text-light" href="/contato/index">Cadastrar Contato</a>
  </li>
</ul>